binds {

    // ---------------------------------------------------------------
    // VM management
    // ---------------------------------------------------------------
    Mod+Shift+V { spawn-sh "virt-manager"; }
    Mod+Shift+B { spawn-sh "gnome-boxes";  }


    // ---------------------------------------------------------------
    // Quick VM console access
    // ---------------------------------------------------------------
    Mod+Shift+C { spawn-sh "virt-viewer --wait"; }
}