binds {

    // ---------------------------------------------------------------
    // Game launchers
    // ---------------------------------------------------------------
    Mod+Shift+S { spawn-sh "steam";         }
    Mod+Shift+L { spawn-sh "lutris";        }
    Mod+Shift+O { spawn-sh "bottles";       }


    // ---------------------------------------------------------------
    // Performance / overlay tools
    // ---------------------------------------------------------------
    Mod+Shift+G { spawn-sh "goverlay";      }

}