// ============================================================================
// EXTERNAL CONFIG INCLUDE
// ============================================================================

include optional=true "./mx/visual.kdl"
include optional=true "./mx/monitor.kdl"
include optional=true "./mx/keybinds.kdl"
include optional=true "./mx/autostart.kdl"
include optional=true "./mx/windowrule.kdl"