// ============================================================================
// EXTERNAL CONFIG INCLUDE
// ============================================================================

include optional=true "./mx/keybinds.kdl"
include optional=true "./mx/settings.kdl"
include optional=true "./mx/windowrule.kdl"
