// ============================================================================
// EXTERNAL CONFIG INCLUDE
// ============================================================================

include optional=true "./vx/keybinds.kdl"
include optional=true "./vx/settings.kdl"
include optional=true "./vx/windowrule.kdl"
