// ============================================================================
// EXTERNAL CONFIG INCLUDE
// ============================================================================

include optional=true "./niri/keybinds.kdl"
include optional=true "./niri/settings.kdl"
include optional=true "./niri/windowrule.kdl"
include optional=true "./niri/autostart.kdl"